

.myColor{
    background-color: red;
}
.button{
    
    background-color: blue;
}
header{
    display: grid;
    
   gap:50px;
   padding: 10px;
    grid-template-columns: auto auto auto;
    background-color: #0095B1;
    
} 


.bodyContainer{
    
    background-color:#00A199;
    
    
}
#kategory{
border-radius: 10px;
padding: 4px;
margin: 5px;

}
footer{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
  background-color:  #000001;
  gap:0;
    width: auto;
    padding-top: 4px;

}
.form-group{
    display: flex;
    justify-self: right;
    grid-template: auto;
    padding: 20px;
    min-width: 464;
    height: 70px;
    font-weight: bold;
    
}
.svg{
    display: grid;
    gap: 0;
    grid-template-columns: auto auto auto auto;
    margin: 3rem;
    

}
.icon{
    color:#0095B1;
}
.btn-css{
    width: 100px;
    color: #0095B1;
}
.footer-label{
    color: white;
}

.mysubmit{
    display: flex;
    text-align: center;
    color: white;
    text-align: center;
}
#row{
    gap: 6px;
    padding-bottom: 3px;
    
}

 
